//
// Scaffolding
// --------------------------------------------------
// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
    @include prefixer(box-sizing, border-box);
}

*:before,
*:after {
    @include prefixer(box-sizing, border-box);
}

// Body reset
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "黑体", Arial, sans-serif;
    font-size: 14px;
    line-height: 20/14;
    color: #666;
    -webkit-font-smoothing: antialiased;
    // background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links
a {
    color: nth($link-color, 1);
    text-decoration: none;
    &:hover,
    &:focus {
        color: nth($link-color, 2);
        text-decoration: none;
    }
    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.
figure {
    margin: 0;
}

// Images
img {
    vertical-align: middle;
}

// Perfect circle
.img-circle {
    border-radius: 50%; // set radius in percents
}

// Horizontal rules
hr {
    border: 0;
    border-top: 1px solid #eee;
}


/**
 * 原子类 - 字体颜色
 */

.c333 {
    color: #333;
}

.c666 {
    color: #666;
}

.c999 {
    color: #999;
}

.c-orange {
    color: #f76d4d;
}

.c-theme {
    color: nth($theme-color, 1);
}

.c-red {
    color: #d9534f;
}

.c-green {
    color: #1caf9a;
}

.c-link {
    color: nth($link-color, 1);
}


/**
 * 原子类 - 字体种类
 */

.arial {
    font-family: Arial;
}


/**
 * 原子类 - 字体大小
 */

.f0 {
    font-size: 0;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}


/**
 * 原子类 - 背景颜色类
 */

.bg-fcfcfc {
    background-color: #fcfcfc;
}

.bg-fff {
    background-color: #fff;
}


/**
 * 原子类 - 填充
 */

.p10 {
    padding: 10px;
}

.p20,
%p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt60 {
    padding-top: 60px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

.pl10 {
    padding-left: 10px;
}

.pl25 {
    padding-left: 25px;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.plr40 {
    padding-left: 40px;
    padding-right: 40px;
}

.plb20 {
    padding: 0 20px;
}

.p1020 {
    padding: 10px 20px;
}

.p2030 {
    padding: 20px 30px;
}

.p2015 {
    padding: 20px 15px;
}

.p3020 {
    padding: 30px 20px;
}


/**
 * 原子类 - 间距
 */

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt17 {
    margin-top: 17px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml100 {
    margin-left: 100px;
}


/**
 * 原子类 - 文本控制
 */

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc,
%tc {
    text-align: center;
}

.of,
%of {
    overflow: hidden;
}

/**
 * 原子类 - 事件
 */
%event-none{
  pointer-events: none;
}
%event-auto{
  pointer-events: auto;
}


/**
 * 原子类 - 定位
 */

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr,
%pr {
    position: relative;
}

%pa {
    position: absolute;
}


/**
 * 原子类 - 行高
 */

.lh25 {
    line-height: 2.5;
}

.lh15 {
    line-height: 1.5;
}

.wp100,
%wp100 {
    width: 100%;
}

.w300 {
    width: 300px;
}

.w350 {
    width: 350px;
}

.w120 {
    width: 120px;
}

.w460 {
    width: 460px;
}

.min-w1014 {
    min-width: 1014px;
}

%hp100 {
    height: 100%;
}

%wh100 {
    @extend %hp100;
    @extend %wp100;
}


/**
 * global - a标签样式
 */

a:focus,
button:focus,
div,
input,
input:focus {
    outline: none;
}


/**
 * global - 圆形
 */

.br100 {
    border-radius: 100%;
}

.clear {
    clear: both;
}

.font-num {
    font-family: Monaco, monospace;
}

form {
    margin-bottom: 0;
}

.inline-b,
%inline-b {
    display: inline-block;
}

a {
    cursor: pointer;
}

.clearfix,
%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//font style
.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
