@charset "UTF-8";

/// A mixin for generating vendor prefixes on non-standardized properties.
///
/// @param {String} $property
///   Property to prefix
///
/// @param {*} $value
///   Value to use
///
/// @param {List} $prefixes
///   Prefixes to define
///
/// @example scss - Usage
///   .element {
///     @include prefixer(border-radius, 10px, webkit ms spec);
///   }
///
/// @example css - CSS Output
///   .element {
///     -webkit-border-radius: 10px;
///     -moz-border-radius: 10px;
///     border-radius: 10px;
///   }
///
/// @require {variable} $prefix-global-setting

@mixin prefixer($property, $value, $prefixes:$prefix-global-setting) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
        -webkit-#{$property}: $value;
    } @else if $prefix == moz {
        -moz-#{$property}: $value;
    } @else if $prefix == ms {
        -ms-#{$property}: $value;
    } @else if $prefix == o {
        -o-#{$property}: $value;
    }
  }
  #{$property}:$value;
}

@mixin disable-prefix-for-all() {
  $prefix-for-webkit:    false !global;
  $prefix-for-mozilla:   false !global;
  $prefix-for-microsoft: false !global;
  $prefix-for-opera:     false !global;
  $prefix-for-spec:      false !global;
}
