$spriteW:2.53rem;

.sprite{
  background-image: url(../images/sprite/sprite-1.png);
  width: 2.53rem;
  height: 2.53rem;
  background-size: 10.12rem 5.12rem;
  background-repeat: no-repeat;
  border:4px solid #fee20e;
  background-color:#ff4e00;
  border-radius:2.53rem;
  position:absolute;
  top:-1.3rem;
  left:50%;
  margin-left:-1.3rem;
}

.icon-price-1 {
  background-position: -5.06rem-0.1 0;
}
.icon-price-2 {
  background-position: -0.1rem -2.59rem;
}
.icon-price-3 {
  background-position: -2.63rem -2.59rem;
}
.icon-price-4 {
  background-position: -2.53rem-0.1 0;
}
.icon-price-cut {
  background-position: -5.16rem -2.59rem;
}
.icon-price-no {
  background-position: -0.1rem 0;
}
.icon-wish-1 {
  background-position: -7.59rem-0.1 0;
}