$ishow-list--item-h:184px;
.ishow-list--main {
  width: 1280px;
  margin: 0 auto;
  padding: 30px 40px;
  .c-dropDown {
    position: absolute;
    top: 20px;
    right: -10px;
    display: none;
  }
  @at-root {
    .ishow-list--item {
      float: left;
      height: 230px;
      margin: 0 8px 20px;
      a {
        display: block;
      }
    }
    .ishow-list--item-main {
      position: relative;
      width: $ishow-list--item-h;
      height: $ishow-list--item-h;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .06);
      overflow: visible;
      cursor: pointer;
      transition: margin .3s ease;
      border-radius: 5px;
      overflow: visible;
      img {
        border-radius: 5px;
      }
      &:hover {
        margin-top: -6px;
        .ishow-list--cover {
          opacity: 1;
        }
      }
    }
    .ishow-list--cover {
      position: absolute;
      top: 0;
      left: 0;
      width: $ishow-list--item-h;
      height: 160px;
      padding: 8px 10px;
      font-size: 12px;
      box-sizing: border-box;
      color: #fff;
      display: flex;
      justify-content: space-between;
      transition: opacity .3s ease;
      opacity: 0;
      background-image: linear-gradient(-180deg, #434343, rgba(67, 67, 67, 0) 64%, rgba(67, 67, 67, 0));
      border-radius: 6px 6px 0 0;
    }
    .ishow-list--dropdown {
      height: 24px;
      width: 32px;
      background: hsla(0, 0%, 100%, .2);
      border: 1px solid hsla(0, 0%, 100%, .7);
      border-radius: 3px;
      box-sizing: border-box;
      z-index: 10;
      text-align: center;
      line-height: 21px;
      position: absolute;
      right: 5px;
      &:hover {
        .c-dropDown {
          display: block;
        }
      }
    }
    .ishow-list--item-title,
    .ishow-list--item-summary {
      @extend %tc;
    }
    .ishow-list--item-summary {
      color: nth($theme-color, 3);
    }
    .ishow-list--dialog {
      .el-dialog {
        background: transparent;
      }
      .el-dialog__body {
        padding: 0;
      }
      .el-dialog__headerbtn {
        margin-top: 12px;
        z-index: 10;
        position: relative;
      }
      .el-form-item {
        height: 46px;
      }
      .el-form-item__content {
        height: 36px;
      }
    }
  }
}

.ishow-list--layer {
  height: 638px;
  @at-root {
    .ishow-list--layer-right {
      margin-left: 390px;
      width: 400px;
      border-left: 1px solid #d6d6d6;
      padding-top: 16px;
      position: relative;
      height: 100%;
      background-color: #fff;
      box-shadow: 0 0 2px 0 #000;
      border-radius: 6px;
    }
    .ishow-list--layer-left {
      height: 100%;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: 0 0 2px 0 #000;
      border-radius: 6px;
      float: left;
      width: 374px;
      padding: 16px;
    }
    .ishow-list--layer-title {
      border-bottom: 1px solid #d6d6d6;
      padding-bottom: 10px;
      padding-left: 20px;
      font-size: 16px;
    }
    .show-list--layer-form {
      padding-left: 102px;
      position: relative;
      .c-cover {
        width: 92px;
        height: 92px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .el-form-item {
        margin-bottom: 10px;
      }
    }
  }
}