@charset "UTF-8";
.hide {
    display: none;
}

.IUI-loading-backdrop,
.layer-backdrop,
.IUI-alert-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/*
 loading
*/

.IUI-loading {
    position: fixed;
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
    z-index: 1101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 1010;
    @at-root {
        .IUI-loading-backdrop {
            z-index: 1001;
        }
        .IUI-loading::after,
        .IUI-loading:after {
            height: 100%;
            content: '';
            display: inline-block;
            vertical-align: middle;
        }
        .IUI-loading img {
            vertical-align: middle;
        }
        .ball-clip-rotate {
            height: 100%;
            vertical-align: middle;
        }
        .ball-clip-rotate::after,
        .ball-clip-rotate:after {
            height: 100%;
            content: '';
            display: inline-block;
            vertical-align: middle;
        }
        .ball-clip-rotate > div {
            background-color: #fff;
            vertical-align: middle;
            border-radius: 100%;
            margin: 2px;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            border: 2px solid #fff;
            border-bottom-color: transparent;
            height: 25px;
            width: 25px;
            background: transparent !important;
            display: inline-block;
            -webkit-animation: rotate 0.75s 0s linear infinite;
            animation: rotate 0.75s 0s linear infinite;
        }
    }
    @-moz-keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6);
        }
        100% {
            -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
        }
    }

    @-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6);
        }
        100% {
            -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
        }
    }

    @keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }
        50% {
            -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6);
        }
        100% {
            -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
        }
    }
}


/*
 layer style
*/

.layer-backdrop {
    z-index: 1000;
}

.layer-box {
    z-index: 1001;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    padding-top:20px;
    padding-bottom:20px;
    @at-root{
        .layer-open {
            overflow: hidden;
        }
        .layer-box:after {
            display: inline-block;
            height: 100%;
            margin-left: -.05em;
            content: "";
            vertical-align: middle;
        }

        .layer-content {
            position: relative;
            outline: 0;
            -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 10px;
            padding: 35px;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            color: #2b2e38;
            background: #fff;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/*
 alert style
*/

.IUI-alert-backdrop {
    z-index: 1000;
}

.IUI-alert-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1010;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    @at-root{
        .IUI-alert-main {
            position: relative;
            background-color: #e8e8e8;
            border-radius: 5px;
            box-shadow: 0 0 10px 0 #333;
            margin-left: auto;
            margin-right: auto;
            width: 270px;
            box-sizing: border-box;
        }

        .IUI-alert-main:before {
            font-family: "iconfont" !important;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            font-size: 80px;
            font-weight: lighter;
            position: absolute;
            left: 30px;
            top: 35px;
        }

        .IUI-alert-header,
        .IUI-alert-content,
        .IUI-alert-footer {
            padding: 1rem;
        }

        .IUI-alert-header {
            color: #333;
            font: bold 16px/1.2 "微软雅黑";
            display: none;
        }

        .IUI-alert-content {
            font: normal 1.6rem/1.8 "微软雅黑";
            color: #333;
            text-align: center;
            border-bottom: 1px #ddd solid;
        }

        .IUI-alert-footer {
            text-align: center;
        }

        .IUI-alert-confirm,
        .IUI-alert-cancel {
            display: inline-block;
            padding: 5px 0;
            width: 100%;
            text-align: center;
            text-decoration: none;
            margin-right: 10px;
            color: #fff;
            font-size: 1.6rem;
            color: #007aff;
        }

        .IUI-alert-main.success,
        .IUI-alert-main.error,
        .IUI-alert-main.warning {
            padding-left: 110px;
            width: 330px;
        }

        .IUI-alert-main.success:before {
            content: '\e632';
            color: #90bf00;
        }

        .IUI-alert-main.error:before {
            content: '\e68e';
            color: #f24f00;
        }

        .IUI-alert-main.warning:before {
            content: '\e68e';
            color: #f3c901;
        }
    }
}


/*
    mpicker-style
 */
.slide-wapper {
    overflow-y: scroll;
}

.slide-item {
    background: #EAC8AE;
}

.mPicker {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    @at-root{
        .mPicker-hide {
            visibility: hidden;
        }
        .mPicker-pr {
            position: relative;
        }
        /*遮罩*/

        .mPicker-mask {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
            background: #000;
            opacity: .7;
        }


        /*选中的线*/

        .mPicker-active-box {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            margin-left: -35%;
            border-top: 2px solid #31b6e7;
            border-bottom: 2px solid #31b6e7;
        }

        .mPicker-main {
            background: #f5f5f5;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
            -webkit-backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: translate3d(0, 0, 0);
        }

        .mPicker-main.mPicker-bottom {
            bottom: 0;
        }

        .mPicker-main.mPicker-modal {
            -webkit-border-radius: 3px;
            border-radius: 3px;
            width: 264px;
            top: 50%;
            bottom: auto;
            left: 50%;
            margin-top: -127px;
            margin-left: -132px;
        }

        .mPicker-main.down {
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
        }

        .mPicker-header {
            position: relative;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-bottom: 2px solid #31b6e7;
            color: #31b6e7;
            font-size: 18px;
        }

        .mPicker-footer {
            border-top: 1px solid #dbdbdb;
            height: 36px;
            line-height: 36px;
            position: relative;
        }

        .mPicker-content {
            overflow: hidden;
            z-index: 15;
            font-size: 0\9;
            position: relative;
            display: box;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .mPicker-list {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100%;
            width: 50%\9;
            display: inline-block\9;
            position: relative;
            overflow: hidden;
        }

        .mPicker-content ul {
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 20;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .mPicker-content li {
            padding-left: 3%;
            padding-right: 3%;
            height: 36px;
            line-height: 36px;
            overflow: hidden;
            color: #333;
            font-size: 14px;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        .mPicker-content li.active {
            color: #000;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        .mPicker-content.level-2 ul {
            width: 50%;
        }


        /*按钮*/

        .mPicker-confirm,
        .mPicker-cancel {
            color: #333;
            font-size: 14px;
            width: 50%;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .mPicker-confirm:active,
        .mPicker-confirm:hover,
        .mPicker-cancel:active,
        .mPicker-cancel:hover {
            background-color: #29799c;
            color: #fff;
        }

        .mPicker-confirm {
            border-right: 1px solid #dbdbdb;
        }

        .mPicker-input-mask {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .mPicker-shadow {
            position: absolute;
            top: 38px;
            bottom: 37px;
            left: 0;
            width: 100%;
            z-index: 999;
            // background: linear-gradient(#282828 0%, rgba(40, 40, 40, 0) 52%, rgba(40, 40, 40, 0) 48%, #282828 100%);
            // background: -webkit-gradient(linear, left bottom, left top, from(#282828), color-stop(0.52, rgba(40, 40, 40, 0)), color-stop(0.48, rgba(40, 40, 40, 0)), to(#282828));
            // background: -moz-linear-gradient(#282828 0, rgba(40, 40, 40, 0) 52%, rgba(40, 40, 40, 0) 48%, #282828 100%);
            // background: -o-linear-gradient(#282828 0, rgba(40, 40, 40, 0) 52%, rgba(40, 40, 40, 0) 48%, #282828 100%);
            // background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(whitesmoke), color-stop(0.48, rgba(245, 245, 245, 0)), color-stop(0.52, rgba(245, 245, 245, 0)), to(whitesmoke));
            pointer-events: none;
        }
    }
}


[role="tabs-content"] {
    display: none;
}

[role="tabs-content"].active {
    display: block;
}


/*
    动画
 */

.fadeIn {
    -moz-animation: fadeIn 0.35s ease-out forwards;
    -webkit-animation: fadeIn 0.35s ease-out forwards;
    animation: fadeIn 0.35s ease-out forwards;
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


.fadeInDown {
    -moz-animation: fadeInDown 0.25s ease-out forwards;
    -webkit-animation: fadeInDown 0.25s ease-out forwards;
    animation: fadeInDown 0.25s ease-out forwards;
    @-moz-keyframes fadeInDown {
        0% {
            opacity: 0;
            -moz-transform: translateY(-20%);
            transform: translateY(-20%);
        }
        100% {
            opacity: 1;
            -moz-transform: translateY(0%);
            transform: translateY(0%);
        }
    }

    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -moz-transform: translateY(-20%);
            -ms-transform: translateY(-20%);
            -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
        }
        100% {
            opacity: 1;
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
}


