//宽度
.w35 {
    width: 35px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.w168 {
    width: 168px;
}

label {
    font-weight: normal;
}

//element样式修改
.el-color-picker__icon {
    display: none;
}

